In [3]:
#Ans1-statistics is the science of the the collectioning ,organizing and analyzing  of the data.

In [6]:
"""Ans2-there are two types of the statistics 
a-Descriptive statistics-despcriptive statistics is a statistics that consists of the organizing and summarizing of the data.
for example-histogram,pdf,pmf
b-Infrential statistics-it consists of using data you have measured to form a conclusion.
for example sample data to find the conclusion of the population data
example-z-test,t-test,p-test etc."""

'Ans2-there are two types of the statistics \na-Descriptive statistics-despcriptive statistics is a statistics that consists of the organizing and summarizing of the data.\nfor example-histogram,pdf,pmf\nb-Infrential statistics-it consists of using data you have measured to form a conclusion.\nfor example sample data to find the conclusion of the population data\nexample-z-test,t-test,p-test etc.'

In [5]:
"""Ans3-there are two types of the statistics 
1-numerical or quantitative data-this type of data represent the nuneric values,numerical data give information about the quantity of the specfic thing.
example-height,length,weight,size etc.
there are two types also-
a-Descrete data-descrete data can take descrete value.example number of the student in the class.
b-Continuous data-continuos data is a data that can be calculated.example temprature range.
2-Categorical or qualitative data-categorical data is a data that fit into the categories.example-birthdate ,favrate sports etc.
there are also two types
a-nominal data-this type of the data which help to label the variables without providing the numerical values.example of nominal data gender ,words.
b-ordinal data-ordinal data is a type of the data that follow a natural order,example of nominal data finance ,economics survey etc."""

'Ans3-there are two types of the statistics \n1-numerical or quantitative data-this type of data represent the nuneric values,numerical data give information about the quantity of the specfic thing.\nexample-height,length,weight,size etc.\nthere are two types also-\na-Descrete data-descrete data can take descrete value.example number of the student in the class.\nb-Continuous data-continuos data is a data that can be calculated.example temprature range.\n2-Categorical or qualitative data-categorical data is a data that fit into the categories.example-birthdate ,favrate sports etc.\nthere are also two types\na-nominal data-this type of the data which help to label the variables without providing the numerical values.example of nominal data gender ,words.\nb-ordinal data-ordinal data is a type of the data that follow a natural order,example of nominal data finance ,economics survey etc.'

In [1]:
"""Ans4-
a-ordinal data
b-nominal data
c-continous data
d-descrete data"""

'Ans4-\na-ordinal data\nb-nominal data\nc-continous data\nd-descrete data'

In [2]:
"""Ans5-Lavel of the measurement
1-Nominal scale of data-That data can only be categarized.
for example-zip code,political preference,employment status,literacy genre
2-ordinal scale of the data-the data can be categorized and ranked.
for example-language ability,level of the agreement,income level
3-interval scale of the data-the data can be categorized and ranked evenly spaced.
for example standardized test,physicological inventories.
4-ratio scale of the data-the data can be categorized and ranked space and natural zeros.
length of area and poplation  are example of the ratio of the data."""

'Ans5-Lavel of the measurement\n1-Nominal scale of data-That data can only be categarized.\nfor example-zip code,political preference,employment status,literacy genre\n2-ordinal scale of the data-the data can be categorized and ranked.\nfor example-language ability,level of the agreement,income level\n3-interval scale of the data-the data can be categorized and ranked evenly spaced.\nfor example standardized test,physicological inventories.\n4-ratio scale of the data-the data can be categorized and ranked space and natural zeros.\nlength of area and poplation  are example of the ratio of the data.'

In [3]:
"""Ans6-level of the measurement helps you decide what statistical analysis is appropriate on the value that are assigned.
there are four types of the level of the measurement
a-nominal-attributes are only named.
b-ordinal-attributes can be orderd.
c-interval-distance is meaningful
d-ratio-abslute zero"""

'Ans6-level of the measurement helps you decide what statistical analysis is appropriate on the value that are assigned.\nthere are four types of the level of the measurement\na-nominal-attributes are only named.\nb-ordinal-attributes can be orderd.\nc-interval-distance is meaningful\nd-ratio-abslute zero'

In [4]:
#Ans7-Nominal data types is classiied without order or rank.
#but ordinal data types descibes order or rank.

In [5]:
#Ans8-python histogram plotting for exmple numpy ,seaborn ,pandas and matplotlib.

In [6]:
"""Ans9-
descriptive statistics -which is concerned with describing the population under study.
inferential statistics-focuses on  drawing conclusion about hte population.
these types of the statistics they can be used by the collecting ,analyzing and organizing of the data.
 types-
 1-numerical or quantitative data-this type of data represent the nuneric values,numerical data give information about the quantity of the specfic thing.
example-height,length,weight,size etc.
there are two types also-
a-Descrete data-descrete data can take descrete value.example number of the student in the class.
b-Continuous data-continuos data is a data that can be calculated.example temprature range.
2-Categorical or qualitative data-categorical data is a data that fit into the categories.example-birthdate ,favrate sports etc.
there are also two types
a-nominal data-this type of the data which help to label the variables without providing the numerical values.example of nominal data gender ,words.
b-ordinal data-ordinal data is a type of the data that follow a natural order,example of nominal data finance ,economics survey etc."""

'Ans9-\ndescriptive statistics -which is concerned with describing the population under study.\ninferential statistics-focuses on  drawing conclusion about hte population.\nthese types of the statistics they can be used by the collecting ,analyzing and organizing of the data.\n types-\n 1-numerical or quantitative data-this type of data represent the nuneric values,numerical data give information about the quantity of the specfic thing.\nexample-height,length,weight,size etc.\nthere are two types also-\na-Descrete data-descrete data can take descrete value.example number of the student in the class.\nb-Continuous data-continuos data is a data that can be calculated.example temprature range.\n2-Categorical or qualitative data-categorical data is a data that fit into the categories.example-birthdate ,favrate sports etc.\nthere are also two types\na-nominal data-this type of the data which help to label the variables without providing the numerical values.example of nominal data gender ,words.\nb-ordinal data-ordinal data is a type of the data that follow a natural order,example of nominal data finance ,economics survey etc.'

In [ ]:
"""Ans10-Some comman measurement of the central tendancy
1-mean
2-median
3-mode

In [7]:
mean(average)-
age=[12,23,34,45,54,32,78,100]

SyntaxError: invalid syntax (3966663903.py, line 1)

In [8]:
import numpy as np
np.mean(age)

NameError: name 'age' is not defined

In [ ]:
weights=[34,45,67,78.90,45,85]
np.mean(weights)

In [9]:
import seaborn as sns

df=sns.load_dataset('tips')

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
np.mean(df['total_bill'])

19.78594262295082

In [11]:
#median()


age=[12,23,34,45,54,32,78,100]

np.median(age)

39.5

In [12]:
age=[12,23,34,45,54,32,78,100,200]
np.mean(age)

64.22222222222223

In [13]:
np.median(age)

45.0

In [14]:
from scipy import stats

In [15]:
stats.mode(age)

/tmp/ipykernel_77/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([1]))

In [16]:
np.median(df['total_bill'])

17.795